<div class="col-lg-5 offset-lg-1 align-self-center">
    <div class="appointment-form text-center mt-5 mt-lg-0">
        <h3 class="mb-5">appointment now</h3>
        <form action="#">
            <div class="form-group">
                <input type="text" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" required> 
            </div>
            <div class="form-group">
                <input type="text" id="datepicker" placeholder="Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date'" required>
            </div>
            <div class="form-group">
                <textarea name="message" cols="20" rows="7"  placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
            </div>
            <a href="#" class="template-btn">appointment now</a>
        </form>
    </div>
</div>
