<section class="specialist-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                  <h1 style=color:skyblue>FIND A DOCTOR<span class="badge badge-secondary"></span></h1><hr/>
                </div>
            </div>
        </div>
  
        <div class="card-group">
          <div class="card">
            <img src="./assets/doctor/1.jpg" class="card-img-top"  alt="...">
            <div class="card-body">
              <h5 class="card-title">DR. HARIT CHATURVEDI</h5>
              <p class="card-text">
                  Cancer Care / Oncology
                  Breast Cancer
                  Head & Neck Oncology
                  Thoracic Oncology
                  Surgical Oncology.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
  
          <div class="card">
            <img src="./assets/doctor/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DR. SANJAY DHAWAN</h5>
              <p class="card-text">
                  Eye Care
                  Ophthalmology.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
  
          <div class="card">
            <img src="./assets/doctor/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DR. SHEENA BAIJAL</h5>
              <p class="card-text">
                  Metabolic And Bariatric Surgery
                  Minimal Access / Laparoscopic Surgery
                  Weight Loss Surgery</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        </div>
      </section>
  