<h1 style="color:skyblue;text-align:center;">About Us<span class="badge badge-secondary"></span></h1><hr>
<div class="container">
    <p class="lead">
        <em>We are one of India’s leading providers of comprehensive, seamless and integrated world class healthcare services.We offer treatment across all 29 specialties. We have 30+ leading doctors with international level expertise who are committed to provide highest standards of medical excellence at a fraction of international costs.</em></p>
</div>
&nbsp;
&nbsp;
<div class="media">
    <figure>
    <img src="./assets/chm.jpg"class="mr-3" width="250px" height="180px">
    <figcaption class="text-center"><b>Chairman</b></figcaption>
    <figcaption class="text-center">Mr.Edward penn</figcaption>
    </figure>
    <div class="media-body">
      <h3 class="mt-0" style=color:grey>Chairman's Message <span class="badge badge-secondary"></span></h3>
      <p class="lead">
          <em>At Max Super Speciality Hospitals, it is our level of service and eye for detailing in everything that we do, that truly sets us apart and makes us the care provider of choice for millions of patients. Quality, medical & service excellence and detailing are the pillars of this institution.</em></p>
    </div>
  </div>
&nbsp;
&nbsp;
  <div>
    <h2 style=color:skyblue>Our vision<span class="badge badge-secondary"></span></h2>
    <div class="container">
        <p class="lead">
            <em> Our passion well reflects in the fact that we set the industry standards when it comes to cure, care and comfort. To deliver International Class healthcare with a total service focus, by creating an institution committed to the highest standards of medical & service excellence, patient care, scientific knowledge and medical education.</em>   
        </p>
    </div>
</div>

