<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Caring for better life</h4>
                <h1>A Destination for Advanced Care</h1>
                <p>All the health related problems are solved here.</p>
                <div class="primary-button"><a href="#">take appointment</a></div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="../assets/feature1.png" alt="">
                    <h5>advance technology</h5>
                    <p class="pt-3">If we can reduce the cost and improve the quality of medical technology through advances in nanotechnology, we can more widely address the medical conditions that are prevalent and reduce the level of human suffering.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-md-0">
                    <img src="../assets/feature2.png" alt="">
                    <h5>comfortable place</h5>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="../assets/feature3.png" alt="">
                    <h5>quality equipment</h5>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="../assets/feature4.png" alt="">
                    <h5>friendly staff</h5>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="patient-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h1>Patient are saying</h1>
                    <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word link available in the service for subdue fruit.</p>
                </div>
            </div>
        </div>
        <div class="row formarch">
            <div class="col-lg-5">
                <div class="single-patient mb-4">
                    <img src="../assets/patient1.png" alt="">
                    <h4>daren jhonson</h4>
                    <h6>hp specialist</h6>
                    <p class="pt-3">Elementum libero hac leo integer. Risus hac road parturient feugiat. Litora cursus hendrerit bib elit Tempus inceptos posuere metus.</p>
                </div>
                <div class="single-patient mb-4">
                    <img src="../assets/patient1.png" alt="">
                    <h4>daren jhonson</h4>
                    <h6>hp specialist</h6>
                    <p class="pt-3">Elementum libero hac leo integer. Risus hac road parturient feugiat. Litora cursus hendrerit bib elit Tempus inceptos posuere metus.</p>
                </div>
                <div class="single-patient mb-4">
                    <img src="../assets/patient1.png" alt="">
                    <h4>daren jhonson</h4>
                    <h6>hp specialist</h6>
                    <p class="pt-3">Elementum libero hac leo integer. Risus hac road parturient feugiat. Litora cursus hendrerit bib elit Tempus inceptos posuere metus.</p>
                </div>
                <div class="single-patient forpush">
                    <img src="../assets/patient2.png" alt="">
                    <h4>black heiden</h4>
                    <h6>hp specialist</h6>
                    <p class="pt-3">Elementum libero hac leo integer. Risus hac road parturient feugiat. Litora cursus hendrerit bib elit Tempus inceptos posuere metus.</p>
                </div>
            </div>
            </div>
    </div>
</section>